<section class="py-20 bg-[#f6f6f6] overflow-hidden">
  <app-container>
    <div
      appFadeIn
      class="bg-white shadow-sm border border-slate-200 rounded-[28px] px-5 sm:px-6 lg:px-8 py-5 sm:py-6 lg:py-8"
    >
      <div
        class="flex flex-col md:flex-row lg:flex-row divide-y md:divide-y-0 md:divide-x divide-slate-200"
      >
        @for (stat of stats; track stat.title; let i = $index) {
          <div
            appFadeIn
            [delay]="i * 80"
            class="flex-1 flex flex-col items-center text-center px-4 lg:px-6 py-6 lg:py-4"
          >
            <!-- Icon -->
            <div
              class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 rounded-full bg-[#ceddd6] flex items-center justify-center shrink-0 shadow-inner"
            >
              <div
                class="w-14 h-14 sm:w-18 sm:h-18 lg:w-18 lg:h-18 rounded-full bg-[#0A5C36] flex items-center justify-center shrink-0 shadow-inner"
              >
                @switch (stat.icon) {
                  @case ("users") {
                    <svg
                      lucideUsers
                      class="w-6 h-6 lg:w-8 lg:h-8 text-white stroke-[2]"
                    ></svg>
                  }

                  @case ("package") {
                    <svg
                      lucidePackage
                      class="w-6 h-6 lg:w-8 lg:h-8 text-white stroke-[2]"
                    ></svg>
                  }

                  @case ("layout-grid") {
                    <svg
                      lucideLayoutGrid
                      class="w-6 h-6 lg:w-8 lg:h-8 text-white stroke-[2]"
                    ></svg>
                  }

                  @case ("star") {
                    <svg
                      lucideStar
                      class="w-6 h-6 lg:w-8 lg:h-8 text-white stroke-[2]"
                    ></svg>
                  }
                }
              </div>
            </div>
            <!-- Content -->
            <div class="mt-5">
              <h3
                class="text-[16px] sm:text-[18px] lg:text-[18px] font-bold text-[#111827] leading-tight"
              >
                {{ stat.title | translate }}
              </h3>

              <p
                class="text-[12px] sm:text-[12px] text-gray-600 mt-2 leading-[1.7] max-w-[260px] mx-auto"
              >
                {{ stat.description | translate }}
              </p>
            </div>
          </div>
        }
      </div>
    </div>
  </app-container>
</section>
